body{
    /* background-color: rgb(75, 75, 75); */
    background-image: url(https://image.shutterstock.com/image-photo/drug-dealer-concept-gun-pills-260nw-1325340281.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h2,h3,h4 {
    color: rgba(0, 0, 0, 0.822);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.body{
    /* border: 1px solid black; */
    width: 20%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}
.body:hover{
    box-shadow: 1px 1px 1px 1px silver ;


}
button{
    background-color: #745d5d;
    width: 68%;
    color: #e0c0ff;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    cursor: pointer;
}
button:hover{
    background-color: #745d5d98;
    box-shadow: 0.3px 0.3px 0.3px 0.3px silver ;


}